@import url(/css/colors.css);

.bg-body-tertiary{
    background-color: var(--azul) !important;
    color: white !important;
}

section{
    padding: 80px;
}

.card-text{
    border-bottom: 1px solid var(--azul) !important;
}

.btn-primary{
    background-color: var(--azul) !important;
    border: var(--azul);
}

.recem_chegados > h4 {
    padding-bottom:20px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }

footer{
    height: 300px;
    background-color: var(--azul);
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.divFrase{
    max-width: 400px;
}

.divEncontre{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.divEncontre a{
    text-decoration: none;
}